@page "/counter"
@using System.Diagnostics
@inject NavigationManager Navigation
@inject EsirDriver.FiskalPrevoditeljToEsir _engin


<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="IdiNa">Idi na</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
        Console.WriteLine("consola");
        Trace.WriteLine("trace");
       
    }
    private async void IdiNa(){
        
        await _engin.Konfigurisi(new EsirDriver.Modeli.EsirConfigModel(){ apiKey="adaoda"}, new EsirDriver.Modeli.PrevoditeljSettingModel(){ PathInputFiles= $"c:\\ado\\{DateTime.Now.ToString("hh:mm:ss")}"});
        
    }
}
