@page "/"
@using System.Diagnostics

<h1>Hello, world!</h1>

Welcome to your new app.
@code {

    protected override void OnInitialized()
    {
        Trace.WriteLine("Kakav si mi");
    }

    private void Erin(string ado)
    {
        
    }

}